<div class="lead_inner">
          <div class="lead_txt_block">
            <div class="lead_txt">
              <h2 class="lead_ttl">
                <picture>
                  <source srcset="/img/about/main_ttl_lg.png" media="(min-width: 768px)"><img src="images/film.jpg" alt="ABOUT"></picture>
              </h2>
              <p class="lead_desc">「テクノロジーと新たな発想の融合」を理念に、<br class="u-hidden-md-down">質の高い製品の開発・サービスを提供し、<br class="u-hidden-md-down">笑顔に満ち溢れた社会の創出を目指します。</p>
            </div>
          </div>
        </div>

