<h2>Results index</h2>

<table class="table table-hover table-inverse">

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.name %></td>
          <td><%= movie.introduction %></td>
        </tr>
      <% end %>
      <h3><%= @message %></h3>
    </tbody>
</table>