<p id="notice"></p>
 <div class="col-md-8 offset-md-1">
          <h2>会員一覧</h2>
          <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ニックネーム</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= user.id %>
            </td>
            <td>
              <%= link_to user.nick_name,admin_user_path(user.id) %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <% if user.is_deleted == true %>
                <span class="text-active">退会済み</span>
              <% else %>
                <span class="text-invalid">有効</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
   </div>
